<nav class="navbar navbar-light fixed-top bg-light">
  <div class="container container-fluid">
    <a class="navbar-brand">
      <img src="./assets/poker-logo-preto.png" alt="LOGO" width="30" class="d-inline-block align-text-top">
      Poker
    </a>
    <div class="d-flex">
      <span class="navbar-text mx-3">
        {{ user.name }}
      </span>
      <button class="btn btn-outline-success rounded-circle" (click)="open(content)">
        <i class="fas fa-pencil-alt"></i>
      </button>
    </div>
  </div>
</nav>

<div>
  <div class="container d-flex justify-content-around align-items-center" style="height: 750px;">
    <div *ngFor="let item of users" class="text-center d-flex flex-column align-items-center">
      <div class="card border-5" style="height: 90px; width: 70px;" [ngClass]="!isVisible && !item.selected ? 'bg-light' : 'bg-dark'">
        <div class="card-body d-flex justify-content-around">
          <img src="./assets/poker-logo-preto.png" alt="?" *ngIf="!isVisible && !item.selected" style="height: 40px; width: 40px;">
          <img src="./assets/poker-logo-branco.png" alt="?" *ngIf="!isVisible && item.selected" style="height: 40px; width: 40px;">
          <h4 class="card-title text-light" *ngIf="isVisible">{{ item.value }}</h4>
        </div>
      </div>
      {{ item.name }}
    </div>
  </div>
</div>

<nav class="navbar fixed-bottom navbar-light bg-light">
  <div class="container d-flex justify-content-center align-items-end">
    <button class="btn btn-outline-success rounded-circle mx-1" (click)="show()"><i class="far fa-eye"></i></button>
    <button class="btn btn-outline-success rounded-circle mx-1" (click)="reset()"><i class="fas fa-redo"></i></button>
  </div>
  <div class="container text-center d-flex justify-content-around">
    <div *ngFor="let point of points" class="card border-5" (click)="sendValue(point)" style="height: 90px; width: 70px;" [ngClass]="point.selected ? 'bg-dark text-light' : 'bg-light text-dark'">
      <div class="card-body">
        <h4 class="card-title">{{ point.value }}</h4>
      </div>
    </div>
  </div>
</nav>

<ng-template #content let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Editar nome</h5>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
      <input class="form-control" type="text" [(ngModel)]="nameEdited">
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-success" (click)="modal.close()" (click)="editName()">Salvar</button>
    </div>
  </div>
</ng-template>
