<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
      <a class="navbar-brand">Navbar</a>
      <form class="d-flex">
          <span class="navbar-text me-3">
              Thiago
          </span>
          <!-- <input class="form-control me-3" type="search" placeholder="Search" aria-label="Search"> -->
          <button class="btn btn-outline-success rounded-circle" type="submit"><i class="fas fa-pencil-alt"></i></button>
          <!-- <button class="btn btn-outline-success rounded-circle" type="submit"><i class="fas fa-check"></i></button> -->
      </form>
  </div>
</nav>
<!-- <div class="container d-flex justify-content-center"> -->
<div class="container d-flex justify-content-around">
<!-- <div class="container d-flex justify-content-evenly"> -->
  <!-- <div>
      <div class="card">
          <img src="C:\Users\thiago.santos\Downloads\bagre.jpg" alt="?" height="64" width="46">
          <div class="card-body">
              <h5 class="card-title">?</h5>
          </div>
      </div>
      Thiago
  </div> -->
  <div>
      <div class="card">
          <img src="C:\Users\thiago.santos\Downloads\bagre.jpg" alt="?" height="64" width="46">
      </div>
      Thiago
  </div>
  <div>
      <div class="card">
          <div class="card-body">
              <h5 class="card-title">?</h5>
          </div>
      </div>
      Thiago
  </div>
  <div>
      <div class="card">
          <img src="C:\Users\thiago.santos\Downloads\bagre.jpg" alt="?" height="64" width="46">
      </div>
      Thiago
  </div>
  <div>
      <div class="card">
          <div class="card-body">
              <h5 class="card-title">?</h5>
          </div>
      </div>
      Thiago
  </div>
  <div>
      <div class="card">
          <img src="C:\Users\thiago.santos\Downloads\bagre.jpg" alt="?" height="64" width="46">
      </div>
      Thiago
  </div>
  <div>
      <div class="card">
          <div class="card-body">
              <h5 class="card-title">?</h5>
          </div>
      </div>
      Thiago
  </div>
  <div>
      <div class="card">
          <img src="C:\Users\thiago.santos\Downloads\bagre.jpg" alt="?" height="64" width="46">
      </div>
      Thiago
  </div>
  <div>
      <div class="card">
          <div class="card-body">
              <h5 class="card-title">?</h5>
          </div>
      </div>
      Thiago
  </div>
</div>
<nav class="navbar fixed-bottom navbar-light bg-light">
  <!-- <div class="container d-flex justify-content-center"> -->
  <div class="container d-flex justify-content-around">
  <!-- <div class="container d-flex justify-content-evenly"> -->
      <div class="card">
          <div class="card-body">
              <h5 class="card-title">?</h5>
          </div>
      </div>
      <div class="card">
          <div class="card-body">
              <h5 class="card-title">0</h5>
          </div>
      </div>
      <div class="card">
          <div class="card-body">
              <h5 class="card-title">1</h5>
          </div>
      </div>
      <div class="card">
          <div class="card-body">
              <h5 class="card-title">2</h5>
          </div>
      </div>
      <div class="card">
          <div class="card-body">
              <h5 class="card-title">5</h5>
          </div>
      </div>
      <div class="card">
          <div class="card-body">
              <h5 class="card-title">8</h5>
          </div>
      </div>
      <div class="card">
          <div class="card-body">
              <h5 class="card-title">13</h5>
          </div>
      </div>
      <div class="card">
          <div class="card-body">
              <h5 class="card-title">21</h5>
          </div>
      </div>
      <div class="card">
          <div class="card-body">
              <h5 class="card-title">28</h5>
          </div>
      </div>
  </div>
</nav>

<!-- <label>Nome: </label>
<input type="text" [(ngModel)]="user.name">
<button (click)="setName()">Salvar</button>
<button (click)="delete()">excluir</button>
<br>

<div *ngFor="let item of users"><b>{{ item.id }}:</b> {{ item.name }} | {{ item.value }} | {{ item.selected }}</div>

<br>
<label>Valor: </label>
<input type="text" [(ngModel)]="user.value">
<button (click)="setValue()">Enviar</button>

<br>
<button (click)="show()">Mostra tudo</button>
<br>
<button (click)="reset()">reset</button> -->
